 <section id="contact" class="contact" >
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Sign up</h2>
        </div>

        <div class="row signupform">

          <div class="col-lg-5 mt-5 mt-lg-0 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div role="form" class="php-email-form">

              <form action="/signup" method="post">
              <div class="form-group">
                    <label>Username:
                        <input type="text" name="username" class="form-control">
                    </label>
                    
                    <label>Email: 
                        <input type="text" name="email" class="form-control">
                    </label>

                    <label>Password:
                        <input type="password" name="userPass" class="form-control">
                    </label>

                    <label>Weight(lb):
                        <input type="number" name="weight" class="form-control">
                    </label>
                </div>
      
                <button class="text-center">Sign up!</button>

                {{#if errorMessage}}
                <p>{{ errorMessage }}</p>
                {{/if}}
              </form>
          </div>

        </div>

      </div>
    </section>