 <div id="indexpage">
 
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1" style ="margin-top: 145px;">
          <h1>Fitness is not a destination, it is a way of life!</h1>
          <h2>Exercising regularly, is the single most important thing you can do for your health. 
           <br>
No matter where you get stuck in your fitness journey, Fit life helps you get back on course and stay motivated.

<br>Make yourself stronger than your excuses with Fit life.
            
            </h2>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="/assets/img/fl-logo.png" width="500px"class="img-fluid animated" alt="fit-life logo">
        </div>
      </div>
    </div>

  </section>
    <!-- ======= Services Section ======= -->
             
  
    <section id="services" class="services section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Features</h2>
          <p>Check out great features we offer</p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100" >
         
            <div class="icon-box">
              <div class="icon"><i class="bx bxs-brain"></i></div>
              <h4 class="title "> Motivation</h4>
              <p class="description">Not feeling your fitness groove? Don’t let negative self-talk stand in your way and stop you before you’ve begun. 
                Fit life provides you with a quick and timely burst of wisdom to get you focus back, offering the inspiration needed for the day.
              </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch "  data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box" >
       
              <div class="icon"><i class="bx bx-dumbbell"></i></div>

              <h4 class="title"> Exercises</h4>
              <p class="description">How to have all your favorite exercises in one place? Or you’ve just found out about new one you want to 
                try out? Create list of all your exercises, with targeting specific muscle groups. </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch " data-aos="zoom-in" data-aos-delay="300">
         
            <div class="icon-box">
              <div class="icon"><i class="bx bx-walk"></i></div>
              <h4 class="title">Routines</h4>
              <p class="description">You want to have different type of training every time and keep track of intensity so you don't burn out?  
                Create efective training routines, with exercises from your list, change type of trainings, intensity, numbers of sets and 
                reps in order to avoid monotonous workout schedule. </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch " data-aos="zoom-in" data-aos-delay="400" >
            <div class="icon-box">
              <div class="icon"><i class="bx bx-restaurant"></i></div>
              <h4 class="title">Nutrition</h4>
              <p class="description"> How to break free from a monotonous diet and still achieve your fitness goals?
                Fit life offers you limitless variety of different healthy recipes. Search for recipes by calories, nutrients or ingredients and 
                get your daily inspiration with our Recipe of the day. 
            
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->
</div>