<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link href="https://bootstrapmade.com/ninestars-free-bootstrap-3-theme-for-creative/" rel="stylesheet" />

<!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">

  <link rel="stylesheet" href="/stylesheets/style.css" />


  </head>

  <body>
    {{!-- <nav>
      {{#if userInSession}}
        <form action="/logout" method="post">
        <button>Logout</button>
        </form>
        <br> |
        <a href="/exercise/new">Create new exercise</a>|
        <a href="/routine/new">Create new routine</a>|
        <a href="/exercise/">Your exercises</a>|
        <a href="/routine">Your workout routines</a>| 
        <a href="/nutrition">NUTRITION</a>|

      {{else}}
        <a href="/signup">Signup</a>
        <a href="/login">Login</a>
      {{/if}}
    </nav> --}}
    <header id="header" class="fixed-top">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1 class="text-light"><a href="/"><span>Fit-Life</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Home</a></li>
        {{#if userInSession}}
          <li><a href="/exercise/new">Create new exercise</a></li>
          <li><a href="/routine/new">Create new routine</a></li>
          <li><a href="/exercise/">Your exercises</a></li>
          <li><a href="/routine">Your workout routines</a></li>
          <li><a href="/nutrition">NUTRITION</a></li>
          <li><form action="/logout" method="post">
          <button>Logout</button>
          </form></li>

      {{else}}
          <li><a href="/login">Login</a></li>
          <li class="get-started"><a href="/signup">Get Started</a></li>
      {{/if}}
          {{!-- <li class="active"><a href="/">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#team">Team</a></li>
          <li class="drop-down"><a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="drop-down"><a href="#">Drop Down 2</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
              <li><a href="#">Drop Down 5</a></li>
            </ul>
          </li>
          <li><a href="#contact">Contact Us</a></li>

          <li class="get-started"><a href="#about">Get Started</a></li> --}}
        </ul>
      </nav><!-- .nav-menu -->
      </div>
      </header>

<main id="main">
      {{{body}}}
</main>
    

    </div>

       <!-- Vendor JS Files -->
  <script src="/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>
  <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/assets/vendor/venobox/venobox.min.js"></script>
  <script src="/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="/assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>
      <script src="/javascripts/script.js"></script>

  </body>

</html>