<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link href="https://bootstrapmade.com/ninestars-free-bootstrap-3-theme-for-creative/" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <nav>
      {{#if userInSession}}
        <form action="/logout" method="post">
        <button>Logout</button>
        </form>
        <br> |
        <a href="/exercise/new">Create new exercise</a>|
        <a href="/routine/new">Create new routine</a>|
        <a href="/exercise/">Your exercises</a>|
        <a href="/routine">Your workout routines</a>| 
        <a href="/nutrition">NUTRITION</a>|

      {{else}}
        <a href="/signup">Signup</a>
        <a href="/login">Login</a>
      {{/if}}
    </nav>
     <div class="logo">
        <h1 class="text-light"><a href="index.html"><span>Moderna</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>
    <div class="container">
      {{!-- <nav>
        <a href="/exercise/new">Create new exercise</a>
        <a href="/routine/new">Create new routine</a>
        <a href="/exercise/">Your exercises</a>
        <a href="/routine">Your workout routines</a>
      </nav> --}}
      {{{body}}}
    </div>

    <script src="/javascripts/script.js"></script>
  </body>

</html>