body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.signupform {
  justify-content: center;

}

.logoutbutton {
  background: #ee7843;
  border:#ee7843;
}

