<h2>Test profile page after logging in</h2>
<br>
<br>
{{#if userInSession}}
    <h3>Welcome to your fit joruney {{userInSession.username}}</h3>
{{else}}
    <h3>No user found!</h3>
{{/if}}

<br>
<br>
<a href="/profile">Test refresh!</a>