<h2> Details of Exercise {{exerciseDetails.exerciseName}}</h2>
This exercise targets: {{exerciseDetails.targetedBodyPart}}<br>
How to perform this exercise: {{exerciseDetails.howToDoIt}}<br>
Workout pic {{exerciseDetails.exerciseImg}}
