<form action="/celebrities" method="POST">
  <input type="text" name="name" placeholder="exercise name"> <br>
  <input type="text" name="targetedBodyPart" placeholder="targeted body part"> <br>
  <input type="text" name="howToDoIt" placeholder="how to do it"> <br>
  <input type="image" name= "image" placeholder="workout pic"><br>g
  <button type="submit">Save new Exercise</button>
</form>